*{
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
}

body{
    background: linear-gradient(90deg, rgba(0, 47, 118, 0.88) 50.51%, rgba(0, 47, 118, 0.43) 99.03%);
}
#header{
    background-color: #002F76;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
#header h1{
    color: aliceblue;
    text-align: center;
}
#header i{
    color: #fff;
}
#allcardinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#allcardinfo .card{
    border: 1px #002F76 solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    background: #fff;
    margin: 40px 250px;
    transition: all 0.3s;
    border-radius: 10px;
}

#allcardinfo .card img{
    width: 50%;
}
#allcardinfo .card:hover{
    transform: scale(1.02);
    z-index: 1;
}