@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.banner{
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(0, 47, 118, 0.88) 50.51%, rgba(0, 47, 118, 0.43) 99.03%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-bottom: 20px;
}
.card-container{
    display: flex;
    justify-content: center;
    
}
.banner h2{
    padding-bottom: 40px;
    margin-bottom: 20px;
}
.card-content{
    background: #fff;
    height: 330px;
}
.card-content h3{
    text-align: center;
    color: #000;
    padding: 25px 0 10px 0;
    font-size: 26px;
    font-weight: 500;
}
.form-row{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
form select, form input{
    display: block;
    width: 100%;
    margin: 15px 12px;
    padding: 5px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    border-bottom: 1px solid #eee;
    font-weight: 300;
}
form input[type = text], form input[type = number], form input::placeholder, select{
    color: #9a9a9a;
}
form input[type = submit]{
    color: #fff;
    background: #5fa6f2;
    padding: 12px 0;
    border-radius: 4px;
    cursor: pointer;
}
form input[type = submit]:hover{
    opacity: 0.9;
}

#promo{
    margin-top: 150px;
}
#promo h2{
    font-size: 50px;
    color: #002F76;
    margin-left: 40px;
    text-decoration-line: underline;
    margin-bottom: 30px;
}
#promo .cardpromoall{
    display: flex;
    flex-direction: column;

}
#promo .cardpromoall .promocard{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 50%;
    border: 1px #002F76 solid;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-left: 50px;
}
#promo .cardpromoall .promocard img{
    width: 20%;
}
#promo .cardpromoall .promocard .about{
    margin-left: 30px;
}
.linecross {
    width: 10px;
    height: 150px;
    background-color: #485545;
    margin-left: 100px;
    z-index: 2;
}

.btn-2{
    width: 60%;
    height: 30px;
    margin: 50px;
    padding: 30px;
}
/* footer */
#footer{
    color: #ffff;
    background: rgb(2,0,36);
    padding: 20px;
}
#footer .foot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#footer h3{
    font-size: 40px;
}
@media(max-width: 992px){
    .card-container{
        grid-template-columns: 100%;
        width: 100vw;
    }
    .card-img{
        height: 330px;
    }
}