body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Prompt', sans-serif;
}
/* Navbar */
#nav-bar{
    background-color: #002F76;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
    flex-direction: row;
    padding-bottom: 10px;
}

#nav-bar img{
    width: 100px;
    padding-left: 30px;
}

#nav-bar .bar{
    color: #ffff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#nav-bar .bar li{
    list-style: none;
    padding-right: 50px;
}
#nav-bar .bar li:hover{
    transform: scale(1.1);
    transition: transform 200ms ease-in-out;
    z-index: 999;
}
#nav-bar .bar a{
    text-decoration: none;
    color: #ffff;
    font-size: 20px;
}

/* middle */

#middle{
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(0, 47, 118, 0.88) 50.51%, rgba(0, 47, 118, 0.43) 99.03%);
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
}

#middle .search{
    padding-left: 120px;
    color: #ffff;
}
#middle .txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 50px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
#middle .txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.input{
    width: 450px;
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgb(2,0,36,0.1);
}
.input .data{
    height: 40px;
    width: 100%;
    position: relative;
}
.input .data input{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 20px;
    border-bottom: 2px solid silver;

}
.input .data input:focus ~ label,
.input .data input:valid ~ label{
    transform: translateY(-35px);
    font-size: 16px;
    color: #ffff;

}
.input .data label{
    color: #002F76;
    position: absolute;
    bottom: 5px;
    left: 5px;
    pointer-events: none;
    transition: all 0.3s ease;
}

.btn-1{
    font-family: 'Prompt', sans-serif;
    width: 50%;
    height: 50px;
    border: 1px solid;
    background-color: #ffffff;
    border-radius: 25px;
    font-size: 18px;
    color: #002F76;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
button:hover{
    color: #FBFCF8;
    background-color: #002F76;
    transition: .5s;
}

/* card */

#totou{
    padding-top: 100px;
    margin-bottom: 10px;
    font-family: 'Prompt', sans-serif;
}

#totou .allcard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: normal;
}

#totou .allcard .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 210px;
    height: 200px;
    border: #002F76 solid;
    border-radius: 20px;
    margin-left: 80px;
    padding: 20px;
    transition: transform .2s;
}
#totou .allcard .card:hover{
    transform: scale(1.05);
    z-index: 1;
}
#totou .allcard .card img{
    width: 100px;
}
#totou .allcard .card h3{
    font-size: 16px;
}

#promo{
    padding-top: 50px;
}
#promo h2{
    font-size: 50px;
    color: #002F76;
    margin-left: 40px;
    text-decoration-line: underline;
}
#promo .cardpromoall{
    display: flex;
    flex-direction: column;

}
#promo .cardpromoall .promocard{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 50%;
    border: 1px #002F76 solid;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-left: 50px;
}
#promo .cardpromoall .promocard img{
    width: 20%;
}
#promo .cardpromoall .promocard .about{
    margin-left: 30px;
}
.linecross {
    width: 10px;
    height: 150px;
    background-color: #485545;
    margin-left: 100px;
    z-index: 2;
}

.btn-2{
    width: 60%;
    height: 30px;
    margin: 50px;
    padding: 30px;
}
/* footer */
#footer{
    color: #ffff;
    background: rgb(2,0,36);
    padding: 50px;
}
#footer .foot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#footer h3{
    font-size: 40px;
}