body{
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
#card{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30vh 0 0 0;
}

.profile-box{
    height: 350px;
    display: flex;
    flex-direction: column;
    background: #FFFF;
    justify-content: center;
    padding: 10px 100px;
    position: relative;
    color: #494639;
    border-radius: 10px;
}

.back-icon{
    width: 25%;
    position: absolute;
    left: 10px;
    top: 10px;
}
.back-icon a{
    text-decoration: none;
    color: #494639;
}
.txt_field{
    display: flex;
    align-items: flex-start;
    align-items: center;
}
.txt_field input{
    margin-left: 10px;
    margin-bottom: 20px;
    width: 100%;
    padding: 0 5px;
    height: 30px;
    font-size: 16px;
    border: none;
    background: #FFFF;
    outline: none;
}

.txt_field1{
    display: flex;
    align-items: flex-start;
    align-items: center;
}
.txt_field1 input{
    margin-left: 35px;
    margin-bottom: 20px;
    width: 100%;
    padding: 0 5px;
    height: 30px;
    font-size: 16px;
    border: none;
    background: #FFFF;
    outline: none;
}

.txt_field2{
    display: flex;
    align-items: flex-start;
    align-items: center;
}
.txt_field2 input{
    margin-left: 52px;
    margin-bottom: 20px;
    width: 100%;
    padding: 0 5px;
    height: 30px;
    font-size: 16px;
    border: none;
    background: #FFFF;
    outline: none;
}
button{
    width: 100%;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
}
button:hover{
    background-color: #494639;
    color: white;
}