@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(0,28,65,1) 100%);
}
#promo{
    margin-top: 20px;
}
.log{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
.log h2{
    font-size: 50px;
    color: #002F76;
    margin-left: 40px;
    text-decoration-line: underline;
    margin-bottom: 30px;
}
#promo .cardpromoall{
    display: flex;
    flex-direction: column;

}
#promo .cardpromoall .promocard{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 50%;
    border: 1px #002F76 solid;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-left: 50px;
    background-color: #fff;
}
.displaycard {
    background-color: #f5f5f5; /* Gray background color */
    padding: 20px;             /* Padding around the content */
    border: 5px solid #002F76;    /* A light gray border */
    border-radius: 5px;        /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* A subtle shadow */
    margin: 20px;              /* Margin around the card for spacing */
    transition: 0.3s; 
    transform: scale(0.5);
    position: absolute;
    top: -100px;
    left: 700px;
    width: 900px;
    height: 1000px;
}
.res p{
    font-size: 40px;
    margin-left: 50px;
}
/* This adds a hover effect, enlarging the card slightly and changing the shadow */


#promo .cardpromoall .promocard img{
    width: 50%;
}
#promo .cardpromoall .promocard .about{
    margin-left: 30px;
}
#promo .cardpromoall .promocard .about {
    width: 50%; /* Or adjust to an appropriate value */
    
}

.linecross {
    width: 10px;
    height: 150px;
    background-color: #485545;
    margin-left: 100px;
    z-index: 2;
}

 .btn-2{
    width: 30%;
    height: 30px;
    margin: 50px  0  0 20px;
    padding: 10px;
    display: flex;
    padding: 10px 50px;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.btn-3{
    width: 90%;
    height: 100px;
    margin: 50px  0  0 20px;
    padding: 10px;
    display: flex;
    padding: 10px 50px;
    justify-content: center;
    align-items: center;
    transition: .5s;
    font-size: 40px;
}
 .btn-2:hover{
    background-color: #002F76;
    color: #fff;
}
a{
    text-decoration: none;
}

@media(max-width: 992px){
    .card-container{
        grid-template-columns: 100%;
        width: 100%;
    }
    .card-img{
        height: auto;
        width: 100%;
        overflow-x: hidden;
    }
    #promo .cardpromoall .promocard{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 50%;
        border: 1px #002F76 solid;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 50px;
        margin-left: 50px;
    }
    .linecross {
        height: 5px;
        background-color: #485545;
        margin-top: 10px;
        z-index: 2;
    }
    .btn-2{
        width: 60%;
        height: 30px;
        margin: 20px  0  0 20px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #totou .allcard .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 210px;
        height: 200px;
        border: #002F76 solid;
        border-radius: 20px;
        margin-top: 10px;
        padding: 20px;
        transition: transform .2s;
    }
    #totou .allcard{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: normal;
    }
}